<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
    <title>聊天啦~~~</title>
</head>
<body>
    <section id="login">
        <h1>聊天啦~~~</h1>
        <div class="panel panel-default">
            <div class="panel-body">

            </div>
        </div>
    </section>

    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/components/socket.io-client/dist/socket.io.js"></script>
</body>
</html>